<h1> Add new advert!</h1>

<form action="/advert" method="POST">
  <p>
    <label for="species">Species</label>
    <br>
    <input type="text" id="species" name="species">
  </p>
  <p>
    <label for="animal_name">Animals name</label>
    <br>
    <input type="text" id="animal_name" name="animal_name">
  </p>
  <p>
    <label for="colour">Animal colour</label>
    <br>
    <input type="text" id="colour" name="colour">
  </p>

  <input type="submit" value="Add advert">
</form>