<h1> Add new advert!</h1>

<form action="/advert" method="POST">
  <p>
    <label for="species">Species</label>
    <br>
    <input type="text" id="species" name="species">
  </p>

  <input type="submit" value="Add advert">
</form>