<h1 style="text-align: center;">Add Animal</h1>

<form action="/animals" method="POST">

  <p>
    <label for="species">Species</label>
    <br>
    <input type="text" id="species" name="species">
    <br>
    <label for="animal_name">Animal Name</label>
    <br>
    <input type="text" id="animal_name" name="animal_name">
    <br>
    <label for="animal_colour">Colour</label>
    <br>
    <input type="text" id="animal_colour" name="animal_colour">
    <br>
    <label for="animal_size">Size</label>
    <br>
    <input type="text" id="animal_size" name="animal_size">
    <br>

    <h1 style="text-align: center;">Add Owners Information</h1>
    <label for="owners_name">Owners Name</label>
    <br>
    <input type="text" id="owners_name" name="owners_name">
    <br>
    <label for="owners_number">Owners Number</label>
    <br>
    <input type="text" id="owners_number" name="owners_number">
  </p>

  <input type="submit" value="Add Animal">
</form>
